{{- $name := "François Dautrême" -}}
{{- $email := "francois@dautreme.fr" -}}
{{- $github_user := "francoisdtm" -}}
{{- $gpg_recipient := "778F4FDBFCC15A7E5267DFE49499469DB9106FB0" -}}

{{- if (env "ASK") }}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $gpg_recipient = promptString "GPG Recipient" $gpg_recipient -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  gpg_recipient: {{ $gpg_recipient | quote }}

encryption: gpg
gpg:
  recipient: {{ $gpg_recipient | quote }}
